@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
	--pageBackground: '#F5F5F3',
	--white: '#FFFFFF',
	--offWhite: '#FAFAFA',
	--black: '#1C1C1D',
	--textFont: '#28282A',
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer components {
  p {
    color: #28282A
  }
  .sub-text {
   font-family: 'Special Elite', serif;
  }
}

mark {
	@apply inline-block pr-1 pl-1 py-0;
	margin-top: 0.15rem;
	margin-bottom: 0.15rem;
}

.mark-rounded {
	@apply rounded-sm shadow-md;
	
}

.mark-teal {
	@apply bg-teal-500  text-white;
}

@layer base {
	html {
		@apply scroll-smooth
	}
}